.heading {
  font-size: 70px;
  margin: 0;
}

.heading--sm {
  font-size: 14px;
  text-align: right;
  margin-right: 10px;
}

.heading--md {
  font-size: 48px;
}

.heading--lp {
  color: #222;
  text-shadow: 0px 2px 3px #555;
}

.line-through {
  text-decoration: line-through;
}

@custom-media --medium-viewport only screen and (min-width: 31em);
@custom-media --large-viewport only screen and (min-width: 43em);

.caveat {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 11px;

  &--right {
    left: auto;
    right: 10px;
  }
  @media (--medium-viewport) {
    font-size: inherit;
  }
}
